.scroll{
    overflow-y: auto;
    width: auto;
    /* border: 5px solid aquamarine; */
    height: auto;
    border-radius: 10px;
    display: flex;
    background-color: #2f2f2f;
    border-radius: 10px;
    padding: 10px;
    /* align-items: center; */
}
.scroll:hover {
    background-color: #434343;
}