.card {
    color: white;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(80, 78, 78, 0.5);
    height:330px;
    width: 200px;
    background-color: #0009;
    margin:20px;
    padding: 10px;
    border-radius: 10px;
    font-size:14px;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    /* position: absolute; */
    z-index: 0;
}
.poster{
    height:140px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 10px;
    border: 3px solid white;
    position: relative;
    z-index: 100000;
    transform: translateY(-15%);
}
#waveform{
    width: 100px;
    height: 100px;
}
.show{
    height: 50px;
    width: 300px;
    background-color: transparent;
}
.inner{
    overflow-y: hidden;
    overflow-x: hidden;
}