.bg{
  height: 200vh;
}
.navbar{
  width: 50px;
  position: fixed;
}
.content{
  margin-left: 60px;
  height: 200vh;
  display: grid;
  grid-template-columns: 1fr;
}
.scenes{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
button{
  width: 100px;
  height: 40px;
  padding: 0px;
  border: 0px;
  border-radius: 30px;
  font-weight: 700;
  box-shadow: 4px 4px 10px #8ecae6;
  background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}