.bg{
  height: 100vh;
}
.navbar{
  width: 50px;
  position: fixed;
}
.content{
  margin-left: 60px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}
.searchbtn{
  display: flex;
  justify-content: center;
  text-align: center;
}
button{
  width: 80px;
  height: 40px;
}
