:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: linear-gradient(90deg,#aea4e3,#d3ffe8);
  background-image: url("./components/lofivideos/wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  margin: 0px;
  min-width: 280px;
  height: 100vh;
}
html
{
  margin: 0px;
  height: 100vh;
}
