:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0px;
  min-width: 280px;
  height: 100vh;
}
html
{
  margin: 0px;
  height: 100vh;
}
.video{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border-radius: 10px;
}
